.skill__bars {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.skills {
    padding: 4px 0;
    color: white;
    border-radius: 10px;

}
.java {width: 90%; background-color: #4d0c8e;}
.python {width: 85%; background-color: #673AB7;}
.js {width: 70%; background-color: #944aff;}
.html {width: 75%; background-color: #755d9c;}
.css {width: 60%; background-color: #a16cd4;}
