.skill__bars {
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.skills {
    padding: 4px 0;
    color: var(--color-white);
    border-radius: var(--border-radius);

}
.python {width: 90%; background-color: #7209b7;}
.java {width: 90%; background-color: #6918bf;}
.r {width: 70%; background-color: #5b32ce;}
.js {width: 70%; background-color: #543fd7;}
.html {width: 75%; background-color: #4b4fe1;}
.css {width: 60%; background-color: #4361ee;}
