.skill__bars {
    width: 100%;
    background-color: var(--color);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.skills {
    padding: 4px 0;
    color: var(--color);
    border-radius: var(--border-radius);

}
.python {width: 90%; background-color: var(--primary);}
.java {width: 90%; background-color: var(--button);}
.r {width: 70%; background-color: var(--button);}
.js {width: 70%; background-color: var(--secondary);}
.html {width: 75%; background-color: var(--button-hover);}
.css {width: 60%; background-color: var(--third);}
