.header {
    font-weight: normal;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.navbar, .navbar__menu, .navbar__logo, .navbar__item {
    display: flex;
    flex-direction: row;
}

.navbar {
    justify-content: space-between;
    height: var(--navbar-height);
}

.navbar__logo {
    align-items: center;
}

.navbar__item {
    align-items: center;
    cursor: pointer;
    font-size:13px;
    padding: 10px 15px;
}

.navbar__resume{
    padding: 10px 20px;
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
    background-size: 0% 100%;
    background-position: 0% 50%;
}

.navbar__resume:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(var(--primary),var(--primary));
}

.navbar__icon {
    display: none;
}

@media only screen and (max-width: 768px) {

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: -100%;
        padding-top: var(--navbar-height);
        width: 10vw;
        min-width: 312px;
        height: 100vh;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .navbar__menu.active {
        background-color: var(--background);
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navbar__item{
        font-size: 1rem;
    }

    .navbar__icon {
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 1;
    }
}
