.logo{
    border: 1px solid var(--primary);
    padding: 8px;
}
.logo__inner{
    border: 1px solid var(--third);
    padding: 8px 0;
}

.logo__text{
    margin: 0 -10px;
    font-size: 12px;
    padding: 0 5px;
    background-color: var(--background);
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
}
