.logo{
    border: 1px solid var(--color-purple);
    padding: 8px;
}
.logo__inner{
    border: 1px solid var(--color-light-pink);
    padding: 8px 0;
}

.logo__text{
    margin: 0 -10px;
    font-size: 12px;
    padding: 0 5px;
    background-color: var(--background);
    border-left: 1px solid var(--color-light-purple);
    border-right: 1px solid var(--color-light-purple);
}
