* {
    margin: 0;
    padding: 0;
}

body {
    /*--background: #0d1118*/
    --background: #101019;
    --color-white: #fff;
    --color-gray: #d5d5d8;
    /*--primary: #400878*/
    --primary: #272636;
    --primary-border:#2d2d39;
    --primary-hover: #4d0c8e;

    --color-blue: #4361ee;
    --color-orange: #ff7900;
    --color-dark-purple: #5a189a;
    --color-purple: #7209b7;
    --color-light-purple: #9d23ec;
    --color-light-pink: #b458f6;
    --color-light-blue: #6bc5f8;
    --shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --navbar-height:80px;
    --link: #fff;
    --border-radius: 5px;
}

.python {background-color: #4361ee!important;}
.java {background-color: #5935d1 !important;}
.r {background-color: #5b32ce!important;}
.js {background-color: #543fd7!important;}
.html {background-color: #4b4fe1!important;}
.css {background-color: #4361ee!important;}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    display: block;
    background-color: var(--background);
    color: var(--color-white);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--link);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    line-height: 1.5;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: var(--color-gray)
}

h1, .h1 {
    font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 3rem;
    }
}

h2, .h2 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2.5rem;
    }
}

h3, .h3 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 2rem;
    }
}

h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4, .h4 {
        font-size: 1.5rem;
    }
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

    /*-----------------------custom styles------------------------*/
#tsparticles {
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.row {
    --bs-gutter-y: 1.5rem !important;
}

.full-height {
    padding-top: var(--navbar-height);
    min-height: calc(100vh - var(--navbar-height));
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}


.horizontal-spacing {
    margin-left: 0;
    margin-right: 20px;
}

.vertical-spacing{
    margin-bottom: 50px;
}
